# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env
_WS

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints
